<button id="start_btn">Jugar</button>
<br>
<br>
<!-- Añadir float a estos 2 div -->
<!-- Añadir texto con .append -->
<div id="contador"><p></p></div>
<div id="winner"><p></p></div>

    <table class="table">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td class="active"></td>
        <td></td>
      </tr>
    </table>